DATABASE_URL="sqlserver://moovox.database.windows.net:1433;database=Moovox;user=CloudSAf9e4385f;password=481626Alfa..;encrypt=true;trustServerCertificate=false;MultipleActiveResultSets=false;Persist Security Info=false"
SHADOW_DATABASE_URL="sqlserver://moovox.database.windows.net:1433;database=MoovoxShadow;user=CloudSAf9e4385f;password=481626Alfa..;encrypt=true;trustServerCertificate=false;MultipleActiveResultSets=false;Persist Security Info=false"
// Banco de shadow para migrações Prisma no Azure SQL