DATABASE_URL="sqlserver://moovox.database.windows.net:1433;database=Moovox;user=CloudSAf9e4385f;password=481626Alfa..;encrypt=true"
SHADOW_DATABASE_URL="sqlserver://moovox.database.windows.net:1433;database=MoovoxShadow;user=CloudSAf9e4385f;password=481626Alfa..;encrypt=true"
// Banco de shadow para migrações Prisma no Azure SQL