# Configuração do banco de dados
# DESCOMENTE E CONFIGURE A OPÇÃO DESEJADA:

## Opção 1: Configuração para desenvolvimento local (SQL Server com autenticação Windows)
# DATABASE_URL="sqlserver://localhost:1433;database=moovox;integratedSecurity=true;trustServerCertificate=true"
# SHADOW_DATABASE_URL="sqlserver://localhost:1433;database=moovox_shadow;integratedSecurity=true;trustServerCertificate=true"

## Opção 2: Configuração para desenvolvimento local (SQL Server com autenticação SQL)
# DATABASE_URL="sqlserver://localhost:1433;database=moovox;user=USUARIO;password=SENHA;trustServerCertificate=true"
# SHADOW_DATABASE_URL="sqlserver://localhost:1433;database=moovox_shadow;user=USUARIO;password=SENHA;trustServerCertificate=true"

## Opção 3: Configuração para produção (Azure SQL)
# DATABASE_URL="sqlserver://moovox.database.windows.net:1433;database=Moovox;user=CloudSAf9e4385f;password=481626Alfa..;encrypt=true"
# SHADOW_DATABASE_URL="sqlserver://moovox_shadow.database.windows.net:1433;database=moovoxShadow;user=USUARIO;password=481626Alfa..;encrypt=true"

# Porta do servidor
PORT=3001

# Chave secreta para JWT (usar uma string aleatória em produção)
JWT_SECRET="chave_secreta_para_tokens_jwt"

# Ambiente (development, production, test)
NODE_ENV="development"

# Configurações adicionais (opcional)
# BCRYPT_SALT_ROUNDS=10
# JWT_EXPIRES_IN=24h
