@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --background: #e4eded;
  --foreground: #252525;
}

.dark {
  --background: #a8b1b1;
  --foreground: #000000;
}

body,
html,
#root {
  min-height: 100vh;
  background-color: var(--background);

}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE e Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari e Opera */
}