DATABASE_URL="sqlserver://CloudSAf9e4385f:481626Alfa..@moovox.database.windows.net:1433/Moovox?encrypt=true&trustServerCertificate=false&MultipleActiveResultSets=false&PersistSecurityInfo=false"
SHADOW_DATABASE_URL="sqlserver://CloudSAf9e4385f:481626Alfa..@moovox.database.windows.net:1433/MoovoxShadow?encrypt=true&trustServerCertificate=false&MultipleActiveResultSets=false&PersistSecurityInfo=false"